body {
    background-color: #7395ae;
    font-family: 'Niramit', sans-serif;
    margin: 0;
    
    
}
body, html {
    width: 100%;
    margin: 0%;
}

.about {
    background-color: purple;
}

.nav1 {
    background-color: #c2b9b0;
    border-color: #c2b9b0;
    
}

.nav2 > li > a {
    color: white;
}

.buttoncent {
    text-align: center;
    margin-bottom: 3em;
}

.index-bg {
    background-color: #7395ae;
    font-family: 'Handlee', cursive;
    
}

.image {
    position: relative;
    width: 200%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
      
}

.homeimg {
    position: relative;
    width: 57%;
    bottom: 0;
    margin: 0;
        
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.homeimg:hover .image {
    opacity: 0.3;
}

.homeimg:hover .middle {
    opacity: 1;
}

.text {
  background-color: transparent;
  color: white;
  font-size: 35px;
  padding: 16px 32px;
  
}

.text a {
    color:white;
    text-decoration: none;
}

.text a:hover {
    color: #c2b9b0;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

.vtravel_block {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  
  /*text-align: justify;
  text-justify: inter-word;*/
   
}

footer {
    
    background-color:#c2b9b0;
    color: black;
    text-align: center;
    line-height: 60px;
    z-index: 5;
    position: relative !important;
    
}

.footer {
    text-align: center;
    padding-top: 0px;
    color: black;
    background-color: #c2b9b0;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    
}

.footer2 {
    text-align: center;
    padding-top: 0px;
    color: black;
    background-color: #c2b9b0;
    position: relative;
    bottom: 0;
    left: 0;
    right 0;
    width: 100%;
    line-height: 60px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-top: 5%;
}



h3 {
    line-height: 1.5;
}

.vtravel_block2 {
    position: relative;
    margin: 80px 0 0 ;
    padding: 60px 60px 40ps;
    border: 1px solid #eee;
    text-align: center;
    background: white;
}

.main-content-wrapper {
    flex: 1;
    background-color: transparent;
}
.main-content {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

.banner-overlay-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Form CSS*/
* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container2 {
    border-radius: 0.2px;
    background-color: #c2b9b0;
    margin-left: 32%;
    margin-right: 40%;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

